<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GovSubsidyConnString" connectionString="Data Source=.;Initial Catalog=GovSubsidy;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="DistSubside.Properties.Settings.GovSubsidyConnString"
      connectionString="Data Source=.;Initial Catalog=GovSubsidy;Persist Security Info=True;User ID=iBusUser;Password=54218645"
      providerName="System.Data.SqlClient" />
    <add name="DistSubside.Properties.Settings.GovSubsidyConnectionString"
      connectionString="Data Source=db.ibus.local;Initial Catalog=GovSubsidy;Persist Security Info=True;User ID=ibususer;Password=54218645"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
